version: "3.9"

services:
  web:
    image: "{{ ecr_repository_url }}/{{ ecr_repository_name }}:latest"
    volumes:
      - {{ uploads_folder }}:/var/www/gg
      - elixir_tmp:/tmp
    restart: unless-stopped
    depends_on:
      - pg
    environment:
      DATABASE_URL: "{{ database_url }}"
      NETLIFY_SITE_ID: "{{ netlify_site_id }}"
      NETLIFY_TEAM_NAME: "{{ netlify_team_name }}"
      SECRET_KEY_BASE: "{{ secret_key_base }}"
      PUBLIC_DOMAIN: {{ public_domain }}
      ASSETS_STORAGE_DIR: /var/www/gg
      ASSET_HOST: https://{{ api_domain }}
      NETLIFY_TOKEN: "{{ netlify_token }}"
      PHX_HOST: "{{ api_domain }}"

  pg:
    image: postgres:14.3-alpine3.15
    ports:
      - 5432:5432
    restart: unless-stopped
    environment:
      POSTGRES_DB: {{ database_name }}
      POSTGRES_USER: {{ database_user }}
      POSTGRES_PASSWORD: {{ database_password }}
    volumes:
      - db:/var/lib/postgresql/data
      - "{{ db_dump_folder }}:/var/db_dumps"

  next:
    image: "{{ ecr_repository_url }}/{{ ecr_next_repository_name }}:latest"
    depends_on:
      - web
    environment:
      SSR_API_URL: http://web:4000/api
      CMS_API_TOKEN: "{{ cms_api_token }}"

  nginx:
    image: nginx:stable-alpine
    restart: unless-stopped
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - {{ nginx_conf_path }}:/etc/nginx/nginx.conf:ro
      - {{ log_folder }}:/var/log/nginx
      - {{ uploads_folder }}:/var/www/gg
      - {{ acme_challenge_path }}:/var/www/certbot
      - {{ certbot_certs_path }}:/etc/letsencrypt

  certbot:
    image: certbot/certbot
    restart: unless-stopped
    depends_on:
      - nginx
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
    volumes:
      - {{ acme_challenge_path }}:/var/www/certbot
      - {{ certbot_certs_path }}:/etc/letsencrypt

volumes:
  db:
  elixir_tmp:
