[Unit]
Description=Service unit for Elixir app {{ app_name }}
After=local-fs.target network.target

[Service]
Type=simple
User=app
Group=app
WorkingDirectory=/usr/local/lib/{{ app_name }}/current
ExecStart=/usr/local/lib/{{ app_name }}/current/bin/{{ app_name }} start
Environment=LANG=en_US.utf8
Environment=MIX_ENV={{ mix_env }}
Environment=ERL_AFLAGS="-kernel shell_history enabled"
Environment=PORT={{ app_port }}
Environment=PHX_SERVER=true
Environment=DATABASE_URL="{{ database_url }}"
Environment=SECRET_KEY_BASE="{{ vault_secret_key_base }}"
Environment=AWS_REGION={{ aws_region }}
Environment=UPLOAD_S3_BUCKET={{ uploads_bucket }}
Environment=UPLOAD_CLOUDFRONT_URL={{ uploads_cdn_url }}
Environment=ASSET_HOST={{ assets_host }}
Environment=ASSETS_STORAGE_DIR={{ assets_storage_dir }}
Environment=POOL_SIZE=5
Environment=PATH={{ node_executable_path }}:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin

Environment=NETLIFY_TEAM_NAME={{ netlify_team_name }}
Environment=NETLIFY_TOKEN={{ netlify_token }}
Environment=NETLIFY_SITE_ID={{ netlify_site_id }}

LimitNOFILE=65535
UMask=0027
SyslogIdentifier={{ app_name }}
Restart=always

[Install]
WantedBy=multi-user.target



