worker_processes  5;  ## Default: 1
error_log  /var/log/nginx/error.log;
pid        /var/log/nginx/nginx.pid;
worker_rlimit_nofile 8192;

events {
  worker_connections 1024;
}

http {
  include    /etc/nginx/mime.types;

  default_type application/octet-stream;
  log_format   main '$remote_addr - $remote_user [$time_local]  $status '
    '"$request" $body_bytes_sent "$http_referer" '
    '"$http_user_agent" "$http_x_forwarded_for"';
  access_log   /var/log/nginx/access.log  main;
  sendfile     on;
  tcp_nopush   on;
  server_names_hash_bucket_size 128; # this seems to be required for some vhosts

  server {
    listen       80;
    server_name  {{ api_domain }};
    access_log   /var/log/nginx/gg.access.log  main;

    location /.well-known/acme-challenge/ {
        root /var/www/certbot/{{ api_domain }};
    }

  {% if certificate_exists %}
    location / {
        return 301 https://$host$request_uri;
    }
  {% else %}
{% include "./proxy.j2" %}
  {% endif %}
  }

{% if certificate_exists %}
  server {
    listen 443 ssl http2;
    server_name {{ api_domain }};
    access_log   /var/log/nginx/gg.access.log  main;

    ssl_session_cache shared:le_nginx_SSL:10m;
    ssl_session_timeout 1440m;
    ssl_session_tickets off;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers off;

    ssl_ciphers "ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384";

    ssl_certificate /etc/letsencrypt/live/{{ api_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ api_domain }}/privkey.pem;

{% include "./proxy.j2" %}
  }
{% endif %}
}

